*.iml
.gradle
/local.properties
/.idea
.DS_Store
build/
/captures
.externalNativeBuild
.cxx
iosApp/Podfile.lock
iosApp/Pods/*
iosApp/CodeViewer.xcworkspace/*
iosApp/CodeViewer.xcodeproj/*
!iosApp/CodeViewer.xcodeproj/project.pbxproj
shared/shared.podspec
