build/
.kotlin/
.idea/
*.iml
.DS_Store
**/module.xcodeproj/*
!**/module.xcodeproj/project.pbxproj
!**/module.xcodeproj/xcshareddata/
!**/module.xcodeproj/project.xcworkspace/
**/xcshareddata/WorkspaceSettings.xcsettings
xcuserdata
