prebuilds/fullsdk-linux
prebuilds/fullsdk-darwin
bin
out
*.iml
.gradle
/local.properties
.idea/
.DS_Store
build/
/captures
.externalNativeBuild
.cxx
.kotlin

# Ignoring the persistant lockfile until kotlin.js vulnerabilities are fixed
# yarn.lock # but absent yarn.lock leads to inconsistent builds on CI, so let's keep it
