# Intellij files

.idea/*
!.idea/copyright
!.idea/scopes
*.iml

# Mac OS files

.DS_Store

# Compiled class file
*.class

# Log files
*.log
hs_err_pid*
*.hprof

# Package Files #
*.jar
!gradle-wrapper.jar

*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# gradle
build/
.gradle

# Android
/captures
/local.properties