@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700');

:root {
  --columns: 3;
}

body{
  color: #5A626F;
  background-color: #E7FFF4;
  font-family: 'Open Sans Condensed', sans-serif;
}

li:nth-child(2n-1){
   grid-column-start:2;
}

@media (min-width:600px){
  :root {
    --columns: 5;
  }
  li:nth-child(2n-1){
    grid-column-start:auto;
  }
  li:nth-child(4n-3){
    grid-column-start:2;
  }
}
@media (min-width:900px){
  :root {
    --columns: 7;
  }
  li:nth-child(4n-3){
    grid-column-start:auto;
  }
  li:nth-child(6n-5){
    grid-column-start:2;
  }
}
@media (min-width:1200px){
  :root {
    --columns: 9;
  }
  li:nth-child(6n-5){
    grid-column-start:auto;
  }
  li:nth-child(8n-7){
    grid-column-start:2;
  }
}
@media (min-width:1500px){
  :root {
    --columns: 11;
  }
  li:nth-child(8n-7){
    grid-column-start:auto;
  }
  li:nth-child(10n-9){
    grid-column-start:2;
  }
}
@media (min-width:1800px){
  :root {
    --columns: 13;
  }
  li:nth-child(10n-9){
    grid-column-start:auto;
  }
  li:nth-child(12n-11){
    grid-column-start:2;
  }

}
@media (min-width:2100px){
  :root {
    --columns: 15;
  }
  li:nth-child(12n-11){
    grid-column-start:auto;
  }
  li:nth-child(14n-13){
    grid-column-start:2;
  }

}

