@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700');

:root {
  --columns: 3;
}

body{
  color: #5A626F;
  background-color: #E7FFF4;
  font-family: 'Open Sans Condensed', sans-serif;
}


@media (min-width:600px){
  :root {
    --columns: 5;
  }
}
@media (min-width:900px){
  :root {
    --columns: 7;
  }
}
@media (min-width:1200px){
  :root {
    --columns: 9;
  }
}
@media (min-width:1500px){
  :root {
    --columns: 11;
  }
}
@media (min-width:1800px){
  :root {
    --columns: 13;
  }
}

@media (min-width:2100px){
  :root {
    --columns: 15;
  }
}