prebuilts/fullsdk-darwin/
prebuilts/fullsdk-linux/
out
*.iml
.gradle
/local.properties
**/.idea/**
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
!**/.idea/codeStyleSettings.xml
!**/.idea/copyright
!**/.idea/codeStyles
!.idea/codeStyles/Project.xml
!.idea/codeStyles/codeStyleConfig.xml
!.idea/copyright/AndroidCopyright.xml
!.idea/copyright/profiles_settings.xml
!.idea/inspectionProfiles/Project_Default.xml
.DS_Store
build/
/captures
.externalNativeBuild
.cxx
*.hprof
