<?xml version="1.0" ?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "https://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>LSMinimumSystemVersion</key>
    <string>12.0</string>
    <key>CFBundleDevelopmentRegion</key>
    <string>English</string>
    <key>CFBundleAllowMixedLocalizations</key>
    <string>true</string>
    <key>CFBundleExecutable</key>
    <string>TestPackage</string>
    <key>CFBundleIconFile</key>
    <string>TestPackage.icns</string>
    <key>CFBundleIdentifier</key>
    <string>MainKt</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>TestPackage</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0.0</string>
    <key>LSApplicationCategoryType</key>
    <string>Unknown</string>
    <key>CFBundleVersion</key>
    <string>1.0.0</string>
    <key>NSHumanReadableCopyright</key>
    <string>Copyright (C) CURRENT_YEAR</string>
    <key>NSSupportsAutomaticGraphicsSwitching</key>
    <string>true</string>
    <key>NSHighResolutionCapable</key>
    <string>true</string>
    <key>CFBundleDocumentTypes</key>
    <array>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleTypeExtensions</key>
        <array>
          <string>kot</string>
        </array>
        <key>CFBundleTypeIconFile</key>
        <string>Kotlin_icon_big.icns</string>
        <key>CFBundleTypeMIMETypes</key>
        <string>text/kotlin</string>
        <key>CFBundleTypeName</key>
        <string>Kotlin Source File0</string>
        <key>CFBundleTypeOSTypes</key>
        <array>
          <string>****</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleTypeExtensions</key>
        <array>
          <string>kot1</string>
        </array>
        <key>CFBundleTypeIconFile</key>
        <string>TestPackage.icns</string>
        <key>CFBundleTypeMIMETypes</key>
        <string>text/kotlin</string>
        <key>CFBundleTypeName</key>
        <string>Kotlin Source File1</string>
        <key>CFBundleTypeOSTypes</key>
        <array>
          <string>****</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleTypeExtensions</key>
        <array>
          <string>kott</string>
        </array>
        <key>CFBundleTypeIconFile</key>
        <string>Kotlin_icon_big (1).icns</string>
        <key>CFBundleTypeMIMETypes</key>
        <string>text/kotlin</string>
        <key>CFBundleTypeName</key>
        <string>Kotlin Source File2</string>
        <key>CFBundleTypeOSTypes</key>
        <array>
          <string>****</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleTypeExtensions</key>
        <array>
          <string>kott1</string>
        </array>
        <key>CFBundleTypeIconFile</key>
        <string>TestPackage.icns</string>
        <key>CFBundleTypeMIMETypes</key>
        <string>text/kotlin</string>
        <key>CFBundleTypeName</key>
        <string>Kotlin Source File3</string>
        <key>CFBundleTypeOSTypes</key>
        <array>
          <string>****</string>
        </array>
      </dict>
    </array>

    <key>CFBundleURLTypes</key>
    <array>
      <dict>
        <key>CFBundleURLName</key>
        <string>Example URL</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>exampleUrl</string>
        </array>
      </dict>
    </array>
  </dict>
</plist>
