name: Test Gradle plugin
on:
  pull_request:
    paths:
      - 'gradle-plugins/**'
      - '.github/workflows/gradle-plugin.yml'
  push:
    branches:
      - master
    paths:
      - 'gradle-plugins/**'
      - '.github/workflows/gradle-plugin.yml'

jobs:
  test-gradle-plugin:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-20.04, macos-12, windows-2022]
        gradle: [7.4, 8.3, 8.6]
        agp: [7.3.1, 8.2.2]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          distribution: 'corretto'
          java-version: '17'
      - name: Test Gradle plugin
        shell: bash
        run: |
          cd gradle-plugins
          ./gradlew assemble
          ./gradlew --continue :preview-rpc:test :compose:test ':compose:test-Gradle(${{ matrix.gradle }})-Agp(${{ matrix.agp }})'
      - name: Upload Reports
        uses: actions/upload-artifact@v2
        with:
          name: Test-Reports
          path: gradle-plugins/compose/build/reports
        if: always()
      - name: Print summary
        shell: bash
        if: always()
        run: |
          cd gradle-plugins/compose/build/test-summary
          for SUMMARY_FILE in `find . -name "*.md"`; do
            FILE_NAME=`basename $SUMMARY_FILE`
            echo "## $FILE_NAME" >> $GITHUB_STEP_SUMMARY
            cat $SUMMARY_FILE >> $GITHUB_STEP_SUMMARY
          done