name: Test Gradle plugin
on:
  pull_request:
    paths:
      - 'gradle-plugins/**'
      - '.github/workflows/gradle-plugin.yml'
  push:
    branches:
      - master
    paths:
      - 'gradle-plugins/**'
      - '.github/workflows/gradle-plugin.yml'

jobs:
  test-gradle-plugin:
    strategy:
      fail-fast: false
      matrix:
        os: ['ubuntu-24.04', 'macos-14', 'windows-2022']
        gradle: ['8.7', '9.0.0']
        agp: ['8.6.0', '8.9.0', '9.0.0-alpha01']
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: 'corretto'
          java-version: '17'
      - name: Test Gradle plugin
        shell: bash
        run: |
          cd gradle-plugins
          ./gradlew assemble
          ./gradlew --continue :preview-rpc:test :compose:test ':compose:test-Gradle(${{ matrix.gradle }})-Agp(${{ matrix.agp }})'
      - name: Upload Reports
        uses: actions/upload-artifact@v4
        with:
          name: Test-Reports-${{ matrix.os }}-Gradle-${{ matrix.gradle }}-Agp${{ matrix.agp }}
          path: gradle-plugins/compose/build/reports
        if: always()
      - name: Print summary
        shell: bash
        if: always()
        run: |
          cd gradle-plugins/compose/build/test-summary
          for SUMMARY_FILE in `find . -name "*.md"`; do
            FILE_NAME=`basename $SUMMARY_FILE`
            echo "## $FILE_NAME" >> $GITHUB_STEP_SUMMARY
            cat $SUMMARY_FILE >> $GITHUB_STEP_SUMMARY
          done
